@{
    ViewBag.Title = "Sự kiện";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";

}

<section class="content-header" style="background-color:cornflowerblue">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sự kiện</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li style="color:black" class="breadcrumb-item">Trang Chủ</li>
                    <li style="color:black" class="breadcrumb-item active">Sự kiện</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" style="margin-top:2%">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Sự kiện mới nhất</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @foreach (var item in ViewBag.DsSKGanDay)
                    {
                        <strong><i class="fas fa-question-circle"></i> @item.ThanhVien_CLB.CLB.TenCLB</strong>
                        <p class="text-muted">
                            <h6>@item.SuKien.TieuDeSK</h6>
                        </p>
                        <p class="text-muted">
                            @item.SuKien.MoTa
                        </p>
                        <hr>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <div class="nav-item"><h5 class="nav-link">Sự kiện</h5></div>
                </div>
                <div class="card-body">

                    @foreach (var item in ViewBag.DsCLB)
                    {
                        <div class="label-CLB">
                            <h4>@item.TenCLB</h4>
                            <a href=@Url.Action("SuKienCLB", new { id = item.IdCLB}) class="span-a">Xem chi tiết</a>
                        </div>
                        <hr />

                    }
                </div>
            </div>
        </div>

    </div>
</div>
