
@{
    ViewBag.Title = "Quản lý phản hồi";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý câu lạc bộ</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-list"></i> Danh sách phản hồi:</h5>
                    Đây là trang xem phản hồi của thành viên dành cho câu lạc bộ của bạn
                </div>
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên câu lạc bộ</th>
                                        <th>Mô tả</th>

                                        <th>Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.DsCLB)
                                    {
                                        <tr>
                                            <td>@item.TenCLB</td>

                                            <td>
                                                @Html.ActionLink("Xem Chi tiết", "QLPhanHoi", new { id = item.IDCLB })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
