
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Request.IsAuthenticated)
{
    <div style="margin:7% 0 0 15%">
        <div style="margin:auto; text-align:center">
            <h3>Chào mừng bạn đã đến với Câu lạc bộ của trường Đại học UEF</h3>
            <img src="~/Areas/Admin/Resource/HinhAnh/hero-img.png">
        </div>
    </div>

}