.label-CLB {
    display: flex;
}
.label-CLB h4{
    padding-left:3%;
}
.span-a {
    padding: 2px 0 0 70%;
}
#upload-doucement {
    opacity: 0;
    position: absolute;
    z-index: -1;
   
}
.btn-2 {
    letter-spacing: 0;
}

    .btn-2.color-green:hover,
    .btn-2.color-green:active {
        color: #5fcf80;
    }

    .btn-2:hover,
    .btn-2:active {
        letter-spacing: 2px;
 
    }

    .btn-2:after,
    .btn-2:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
        opacity: 0;
    }

    .btn-2.color-green:after,
    .btn-2.color-green:before {
        border: 1px solid #5fcf80;
    }

    .btn-2:hover:after,
    .btn-2:hover:before {
        backface-visibility: hidden;
        transition: width 350ms ease-in-out;
        width: 100%;
        opacity: 1;
    }
.btn-style {
    color: #5fcf80;
    border: 2px solid #5fcf80;
    padding:0 2% 0 2%;
    margin-left:1%;
    
}
.btn-style:hover{
    border:none;
}
