
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
    var ListAlbums = (List<ClubPortalMS.Models.Album>)ViewBag.ListAllAlbums;

}

<div class="page-banner bg-img bg-img-parallax overlay-dark" style="height:150px">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","TrangChu")">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Albums</li>
                    </ol>
                </nav>
                <h1 class="fg-white text-center">ALBUMS</h1>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        @*<div class="filterable-btn">
            <button class="btn active" data-filter="*">All</button>
            <button class="btn" data-filter="">Website</button>
            <button class="btn" data-filter="">Mobile</button>
            <button class="btn" data-filter="">Desktop</button>
        </div>*@
       
        <div class="grid mt-3">
            @foreach( var item in ListAlbums)
            {
            <div class="grid-item">
                <div class="portfolio">
                    <a href="../assets/img/portfolio/work-1.jpg" data-fancybox="portfolio">
                        <img src="@item.HinhAnh" alt="">
                    </a>
                </div>
            </div>
            }
        </div> <!-- .grid -->
        <div class="mt-5 text-center">
            <button class="btn btn-primary">Load More</button>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->
