
@{
    ViewBag.Title = "ConfirmButton";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
}

<h2>ConfirmButton</h2>
<p>Đã gửi email xác nhận đến hòm thư của bạn. Vui lòng kiểm tra và xác thực để hoàn thành!</p>

